@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Titillium+Web&display=swap');

.strike {
  text-decoration: line-through;
}

.todoTable td{
  border: 1px solid black;
  padding: 5px;
}

.todo-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.todoTable-block{
  margin-top: 1rem;
}

.pagination-pages{
  text-align: right;
}

.pagination-pages > * {
  margin-right: 0.5rem;
  cursor: pointer;
}

.material-icons{
  cursor: pointer;
}

h3 {
  color:rgb(35, 134, 214);
  font-family: 'Rowdies', cursive;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.todo-block{
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  /* for mobile or small screen device */
  #todoTable, .todo-calendar{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  /* for tablets or laptops or desktops */
  .todo-grid-parent{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar{
    position: sticky;
    top: 0;
  }
}

.todo-overlay{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 250ms;
  z-index: 2;
}

.todo-modal{
  min-width: 50vw;
  /* height: 50vh; */
}

.todo-modal-close-btn{
  background-color: rgb(35, 134, 214);
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.slidedIntoView {
  transform: translateX(0);
  transition: transform 650ms;
}

button{
  background-color: #ACD6F5;
  border: 0.1px outset #000;
}

button:hover{
  background-color: rgb(35, 134, 214);
  color: white;
}

.chevron{
  transform: translateY(0.4rem);
}

.itemsPerPage{
  text-align: right;
  margin-bottom: 0.5rem;
}

#calendar .fc-today {
  background: #ACD6F5 !important;
}

#tableTodo {
  width: 100%;
}

#tableTodo tr:nth-child(even) {
  background-color: #ACD6F5;
}